<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MedicalExamItemMapper">
	
	<!--表名 -->
	<sql id="tableName">
		TB_MEDICALEXAMITEM
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		NAME,	
		DESCRIPTION,	
		FEATURES,	
		SELLINGPRICE,	
		SETTLEMENTPRICE,	
		LOGO,
		EFFECTIVETIME,	
		EXPIRETIME,	
		CREATEBY,	
		CREATEON,	
		MEDICALEXAMITEM_ID,
		EXAMITEM_ID,
		MEDICALCENTER_ID
	</sql>
	
	<!-- 字段 -->
	<sql id="Field1">
		NAME,	
		DESCRIPTION,	
		FEATURES,	
		SELLINGPRICE,	
		SETTLEMENTPRICE,	
		LOGO,
		STATUS,
		EFFECTIVETIME,	
		EXPIRETIME,	
		CREATEBY,	
		CREATEON,	
		MEDICALEXAMITEM_ID,
		EXAMITEM_ID
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue1">
		#{NAME},	
		#{DESCRIPTION},	
		#{FEATURES},	
		#{SELLINGPRICE},	
		#{SETTLEMENTPRICE},	
		#{LOGO},	
		#{STATUS},
		#{EFFECTIVETIME},	
		#{EXPIRETIME},	
		#{CREATEBY},	
		#{CREATEON},	
		#{MEDICALEXAMITEM_ID},
		#{EXAMITEM_ID}
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{NAME},	
		#{DESCRIPTION},	
		#{FEATURES},	
		#{SELLINGPRICE},	
		#{SETTLEMENTPRICE},	
		#{LOGO},	
		#{EFFECTIVETIME},	
		#{EXPIRETIME},	
		#{CREATEBY},	
		#{CREATEON},	
		#{MEDICALEXAMITEM_ID},
		#{EXAMITEM_ID},
		#{MEDICALCENTER_ID}
	</sql>
	
	<!-- 根据管理员id查询该管理员属于哪个体检中心 -->
	<select id="findadminbyuserid" parameterType="java.lang.String" resultType="pd">
		select MEDICALCENERADMIN_ID,MEDICALCENTER_ID,SYS_USER_ID from tb_medicalceneradmin where sys_user_id = #{userId}
	</select>
	
	<!-- 根据checkupitemid查询体检中心检查项目 -->
	<select id="listMedicalItemByCheckuoItemId" parameterType="java.lang.String" resultType="pd">
		select mei.SELLINGPRICE as PRICE, mei.MEDICALEXAMITEM_ID as MEDICALEXAMITEM_ID,mei.`NAME` as `NAME`,mei.DESCRIPTION 
		as DESCRIPTION,mc.NAME AS MNAME,mei.STATUS as MSTATUS,mc.STATUS as CSTATUS from 
		tb_medicalexamitem mei , tb_medicalcenter mc , exam_examitem 
		ei , exam_examsolution es , tb_checkupitem ci where mei.MEDICALCENTER_ID = mc.MEDICALCENTER_ID 
		and mei.EXAMITEM_ID = ei.EXAMITEM_ID and ei.EXAMITEM_ID = es.EXAMITEM_ID and es.EXAMSOLUTION_ID = 
		ci.solution_id and ci.CHECKUPITEM_ID=#{CHECKUPITEM_ID}
	</select>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
		NAME,	
		DESCRIPTION,	
		FEATURES,	
		SELLINGPRICE,	
		SETTLEMENTPRICE,	
		CREATEBY,	
		MEDICALEXAMITEM_ID,
		EXAMITEM_ID,
		MEDICALCENTER_ID
		) values (
		#{NAME},	
		#{DESCRIPTION},	
		#{FEATURES},	
		#{SELLINGPRICE},	
		#{SETTLEMENTPRICE},	
		#{CREATEBY},	
		#{MEDICALEXAMITEM_ID},
		#{EXAMITEM_ID},
		#{MEDICALCENTER_ID}
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			MEDICALEXAMITEM_ID = #{MEDICALEXAMITEM_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			NAME = #{NAME},
			DESCRIPTION = #{DESCRIPTION},
			FEATURES = #{FEATURES},
			SELLINGPRICE = #{SELLINGPRICE},
			SETTLEMENTPRICE = #{SETTLEMENTPRICE},
			EXAMITEM_ID = #{EXAMITEM_ID},
			MEDICALCENTER_ID = #{MEDICALCENTER_ID},
		MEDICALEXAMITEM_ID = MEDICALEXAMITEM_ID
		where 
		MEDICALEXAMITEM_ID = #{MEDICALEXAMITEM_ID}
	</update>
	
	<update id="auditing" parameterType="pd">
		update
		<include refid="tableName"></include>
		set STATUS = #{STATUS} where MEDICALEXAMITEM_ID = #{MEDICALEXAMITEM_ID} 
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field1"></include>,MEDICALCENTER_ID
		from 
		<include refid="tableName"></include>
		where 
			MEDICALEXAMITEM_ID = #{MEDICALEXAMITEM_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		 TB_MEDICALEXAMITEM 
		where 1=1
		<!-- <if test="pd.MEDICALCENTER_ID!= null and pd.MEDICALCENTER_ID != ''">
			and MEDICALCENTER_ID = #{pd.MEDICALCENTER_ID}	
		</if> -->
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				
					NAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				<!--	根据需求自己加检索条件	 or 
					字段2 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				-->
				)
		</if>
	</select>
	
		<!-- 体检项目审核发布列表 -->
	<select id="datarellistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field1"></include>
		from 
		 TB_MEDICALEXAMITEM item 
		where 1=1 
		<if test="pd.MEDICALCENTER_ID!= null and pd.MEDICALCENTER_ID != ''">
			and item.MEDICALCENTER_ID = #{pd.MEDICALCENTER_ID}	
		</if>
		and (item.STATUS ='提交' or item.STATUS ='审核' or item.STATUS ='平台审核失效')
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				NAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				<!--	根据需求自己加检索条件	 or 
					字段2 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				-->
				)
		</if>
	</select>
	
			<!-- 体检项目平台审核发布列表 -->
	<select id="dataplatformrellistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field1"></include>
		from 
		 TB_MEDICALEXAMITEM item 
		where 1=1 
		<if test="pd.MEDICALCENTER_ID!= null and pd.MEDICALCENTER_ID != ''">
			and item.MEDICALCENTER_ID = #{pd.MEDICALCENTER_ID}	
		</if>
		and (item.STATUS = '发布' or item.STATUS ='平台审核' 
		or item.STATUS ='平台发布' or item.STATUS ='平台失效')
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				NAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				<!--	根据需求自己加检索条件	 or 
					字段2 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				-->
				)
		</if>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			MEDICALEXAMITEM_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- shouxin -->
</mapper>