<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MedicalOrderMapper">
	
	<!--表名 -->
	<sql id="tableName">
		TB_MEDICALORDER
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		MEDICALORDER_ID,	
		MEDICALORDERNO,	
		MEDICALORDERGENERATIONTIME,	
		MEDICALORDERBOOKINGTIME,	
		MEDICALORDEREXECUTIONTIME,	
		MEDICALTOTALAMOUNT,	
		STATUS,	
		CREATEBY,	
		CREATEON
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{MEDICALORDER_ID},	
		#{MEDICALORDERNO},	
		#{MEDICALORDERGENERATIONTIME},	
		#{MEDICALORDERBOOKINGTIME},	
		#{MEDICALORDEREXECUTIONTIME},	
		#{MEDICALTOTALAMOUNT},	
		#{STATUS},	
		#{CREATEBY},	
		#{CREATEON}
	</sql>
	
	<!-- 批量增加体检中心订单 -->
	<insert id="insertAll" parameterType="java.util.List">
		insert into 
		<include refid="tableName"></include> 
		(MEDICALORDER_ID,MEDICALORDERNO,MEDICALORDERGENERATIONTIME,MEDICALORDERBOOKINGTIME,MEDICALORDEREXECUTIONTIME,MEDICALCENTER_ID,MEDICALTOTALAMOUNT,ORDER_ID,STATUS)
		values 
		<foreach item="item" index="index" collection="list" separator="," close=";">
                 (#{item.MEDICALORDER_ID},#{item.MEDICALORDERNO},#{item.MEDICALORDERGENERATIONTIME},#{item.MEDICALORDERBOOKINGTIME},#{item.MEDICALORDEREXECUTIONTIME},#{item.MEDICALCENTER_ID},#{item.MEDICALTOTALAMOUNT},#{item.ORDER_ID},#{item.STATUS})
		</foreach>
	</insert>
	
		<!-- 批量增加体检中心订单下面的体检项目 -->
	<insert id="insertItemAll" parameterType="MedicalOrder">
		insert into 
		TB_MEDICALORDERITEM 
		(MEDICALORDERITEM_ID,MEDICALORDER_ID,MEDICALEXAMITEM_ID)
		values 
		<foreach item="item" index="index" collection="list" separator="," close=";">
                 (#{item.MEDICALORDERITEM_ID},#{item.MEDICALORDER_ID},#{item.MEDICALEXAMITEM_ID})
		</foreach>
	</insert>
	
	<select id="listMedicalOrderByOrderNo" parameterType="java.lang.String" resultType="MedicalOrder">
		select MEDICALORDER_ID,MEDICALORDERNO,MEDICALORDERGENERATIONTIME,MEDICALORDERBOOKINGTIME,
		MEDICALORDEREXECUTIONTIME,MEDICALCENTER_ID,STATUS  from tb_medicalorder where MEDICALORDERNO 
		= #{ORDERNO} and STATUS != '已确认'
	</select>
	
	<!-- 查询该平台订单下的所有体检中心订单 -->
	<select id="listAllMedicalOrderByOrderNo" parameterType="java.lang.String" resultType="MedicalOrder">
		select mo.MEDICALORDER_ID as MEDICALORDER_ID,mo.MEDICALORDERNO as MEDICALORDERNO,mo.MEDICALORDERGENERATIONTIME as MEDICALORDERGENERATIONTIME,MEDICALORDERBOOKINGTIME as MEDICALORDERBOOKINGTIME,
		mo.MEDICALORDEREXECUTIONTIME as MEDICALORDEREXECUTIONTIME,mo.MEDICALCENTER_ID as MEDICALCENTER_ID,mo.STATUS as STATUS,mc.NAME as NAME  from tb_medicalorder mo,tb_medicalcenter mc where mo.MEDICALCENTER_ID = mc.MEDICALCENTER_ID and MEDICALORDERNO 
		= #{ORDERNO}
	</select>
	
	<!-- 查询体检订单下的体检项目 -->
	<select id="listExamItemByMedicalOrderID" parameterType="java.lang.String" resultType="MedicalExamItem">
		select mei.NAME as NAME,mei.FEATURES AS FEATURES,mei.SELLINGPRICE as SELLINGPRICE,mei.SETTLEMENTPRICE as 
		SETTLEMENTPRICE from tb_medicalexamitem mei,tb_medicalorderitem moi where mei.MEDICALEXAMITEM_ID
		 = moi.MEDICALEXAMITEM_ID and moi.MEDICALORDER_ID=#{MEDICALORDER_ID}
	</select>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			MEDICALORDER_ID = #{MEDICALORDER_ID}
	</delete>
	
	<!-- 修改体检中心订单状态 -->
	<update id="auditing" parameterType="pd">
		update 
		<include refid="tableName"></include> 
		set STATUS = #{STATUS} where MEDICALORDER_ID = #{MEDICALORDER_ID}
	</update>
	
	<!-- 修改体检中心订单预约时间 -->
	<update id="editTime" parameterType="pd">
		update 
		<include refid="tableName"></include> 
		set MEDICALORDERBOOKINGTIME = #{MEDICALORDERBOOKINGTIME} where MEDICALORDER_ID = #{MEDICALORDER_ID}
	</update>
	
	<!-- 修改体检中心订单状态 -->
	<update id="auditingALL" parameterType="pd">
		update 
		<include refid="tableName"></include> 
		set STATUS = #{STATUS} where MEDICALORDERNO = #{ORDERNO}
	</update>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			MEDICALORDER_ID = #{MEDICALORDER_ID},
			MEDICALORDERNO = #{MEDICALORDERNO},
			MEDICALORDERGENERATIONTIME = #{MEDICALORDERGENERATIONTIME},
			<if test="MEDICALORDERBOOKINGTIME!= null and MEDICALORDERBOOKINGTIME != ''"><!-- 关键词检索 -->
			MEDICALORDERBOOKINGTIME = #{MEDICALORDERBOOKINGTIME},
			</if>
			<if test="MEDICALORDEREXECUTIONTIME != null and MEDICALORDEREXECUTIONTIME != ''"><!-- 关键词检索 -->
			MEDICALORDEREXECUTIONTIME = #{MEDICALORDEREXECUTIONTIME},
			</if>
			MEDICALTOTALAMOUNT = #{MEDICALTOTALAMOUNT},
			STATUS = #{STATUS},
		MEDICALORDER_ID = MEDICALORDER_ID
		where 
		MEDICALORDER_ID = #{MEDICALORDER_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select
		m.MEDICALORDER_ID as MEDICALORDER_ID,	
		m.MEDICALORDERNO as MEDICALORDERNO,	
		m.MEDICALORDERGENERATIONTIME as MEDICALORDERGENERATIONTIME,	
		m.MEDICALORDERBOOKINGTIME as MEDICALORDERBOOKINGTIME,	
		m.MEDICALORDEREXECUTIONTIME as MEDICALORDEREXECUTIONTIME,	
		m.MEDICALTOTALAMOUNT as MEDICALTOTALAMOUNT,	
		m.STATUS as STATUS,	
		m.CREATEBY as CREATEBY,	
		m.CREATEON as CREATEON,
		m.ORDER_ID as ORDER_ID,
		sau.`NAME` as `NAME`,
		sau.PHONE as PHONE
		from tb_medicalorder m LEFT JOIN tb_order o ON m.ORDER_ID = o.ORDER_ID 
		LEFT JOIN sys_app_user sau ON o.APP_USERID = sau.USER_ID 
		where 
			MEDICALORDER_ID = #{MEDICALORDER_ID}
	</select>
	
	<!-- 通过订单ID，查询所有体检项目信息 -->
	<select id="findItemsById" parameterType="pd" resultType="pd">
		SELECT 
		  mei.*
		FROM
		  TB_MEDICALORDERITEM moi 
		  LEFT JOIN TB_MEDICALEXAMITEM mei 
		    ON moi.`MEDICALEXAMITEM_ID` = mei.`MEDICALEXAMITEM_ID` 
		WHERE moi.`MEDICALORDER_ID` = #{MEDICALORDER_ID}
	</select>
	
	<!-- 根据订单号查询出需要预约的信息 -->
	<select id="listAllOrderAndAbout" parameterType="pd" resultType="pd">
		select sau.`NAME` as UNAME,mc.`NAME` as CNAME,o.ORDER_ID as ORDER_ID,mei.`NAME` as MNAME,
		mo.MEDICALORDERBOOKINGTIME as MEDICALORDERBOOKINGTIME,mo.MEDICALORDER_ID as MEDICALORDER_ID,o.ORDERNO as ORDERNO,
		mo.MEDICALORDERNO as MEDICALORDERNO,mo.`STATUS` as MSTATUS from tb_medicalexamitem mei LEFT JOIN tb_medicalorderitem moi on mei.MEDICALEXAMITEM_ID=moi.MEDICALEXAMITEM_ID 
		left join tb_medicalorder mo on moi.MEDICALORDER_ID=mo.MEDICALORDER_ID LEFT JOIN tb_medicalcenter mc 
		on mc.MEDICALCENTER_ID = mei.MEDICALCENTER_ID LEFT JOIN tb_order o on o.ORDER_ID=mo.ORDER_ID LEFT JOIN
		sys_app_user sau on sau.USER_ID = o.APP_USERID where o.ORDER_ID = #{ORDER_ID} GROUP BY mei.MEDICALEXAMITEM_ID
	</select>
	
	<!-- 查询我的订单 -->
	<select id="listAllOrderAndUserid" parameterType="pd" resultType="pd">
		select sau.`NAME` as UNAME,mc.`NAME` as CNAME,o.ORDER_ID as ORDER_ID,mei.`NAME` as MNAME,
		mo.MEDICALORDERBOOKINGTIME as MEDICALORDERBOOKINGTIME,mo.MEDICALORDER_ID as MEDICALORDER_ID,o.ORDERNO as ORDERNO,
		mo.MEDICALORDERNO as MEDICALORDERNO,mo.`STATUS` as MSTATUS from tb_medicalexamitem mei LEFT JOIN tb_medicalorderitem moi on mei.MEDICALEXAMITEM_ID=moi.MEDICALEXAMITEM_ID 
		left join tb_medicalorder mo on moi.MEDICALORDER_ID=mo.MEDICALORDER_ID LEFT JOIN tb_medicalcenter mc 
		on mc.MEDICALCENTER_ID = mei.MEDICALCENTER_ID LEFT JOIN tb_order o on o.ORDER_ID=mo.ORDER_ID LEFT JOIN
		sys_app_user sau on sau.USER_ID = o.APP_USERID where o.APP_USERID = #{APP_USERID}
	</select>
	
	<!-- 查询我的订单 -->
	<select id="listAllSchedule" parameterType="pd" resultType="pd">
		select sau.`NAME` as UNAME,mc.`NAME` as CNAME,o.ORDER_ID as ORDER_ID,o.ORDERTOTALAMOUNT as ORDERTOTALAMOUNT,mei.`NAME` as MNAME,
		mo.MEDICALORDERBOOKINGTIME as MEDICALORDERBOOKINGTIME,mo.MEDICALORDER_ID as MEDICALORDER_ID,o.ORDERNO as ORDERNO,
		mo.MEDICALORDERNO as MEDICALORDERNO,mo.`STATUS` as MSTATUS,mc.LOCATION as LOCATION from tb_medicalexamitem
		 mei LEFT JOIN tb_medicalorderitem moi on mei.MEDICALEXAMITEM_ID=moi.MEDICALEXAMITEM_ID 
		left join tb_medicalorder mo on moi.MEDICALORDER_ID=mo.MEDICALORDER_ID LEFT JOIN tb_medicalcenter mc 
		on mc.MEDICALCENTER_ID = mei.MEDICALCENTER_ID LEFT JOIN tb_order o on o.ORDER_ID=mo.ORDER_ID LEFT JOIN
		sys_app_user sau on sau.USER_ID = o.APP_USERID where o.APP_USERID = #{USER_ID} and mo.STATUS = "已预约"
	</select>
	
	<!-- 查询我的订单 -->
	<select id="listAllScheduleAndUserID" parameterType="pd" resultType="pd">
		select sau.`NAME` as UNAME,mc.`NAME` as CNAME,o.ORDER_ID as ORDER_ID,o.ORDERTOTALAMOUNT as ORDERTOTALAMOUNT,mei.`NAME` as MNAME,
		mo.MEDICALORDERBOOKINGTIME as MEDICALORDERBOOKINGTIME,mo.MEDICALORDER_ID as MEDICALORDER_ID,o.ORDERNO as ORDERNO,
		mo.MEDICALORDERNO as MEDICALORDERNO,mo.`STATUS` as MSTATUS,mc.LOCATION as LOCATION from 
		tb_medicalexamitem mei LEFT JOIN tb_medicalorderitem moi on mei.MEDICALEXAMITEM_ID=moi.MEDICALEXAMITEM_ID 
		left join tb_medicalorder mo on moi.MEDICALORDER_ID=mo.MEDICALORDER_ID LEFT JOIN tb_medicalcenter mc 
		on mc.MEDICALCENTER_ID = mei.MEDICALCENTER_ID LEFT JOIN tb_order o on o.ORDER_ID=mo.ORDER_ID LEFT JOIN
		sys_app_user sau on sau.USER_ID = o.APP_USERID where (o.APP_USERID = #{USER_ID} or o.APP_USERID in (
		select sauau.user_id_two from sys_app_user_and_user sauau where 
		sauau.user_id_one = #{USER_ID})) and mo.STATUS = "已预约"
	</select>
	
	<!-- 根据用户id查询出该用户和关联用户的订单 -->
	<select id="findMedicalOrder" parameterType="java.lang.String" resultType="pd">
		select
		mo.ORDERNO as ORDERNO,	
		mo.ORDERGENERATIONTIME as ORDERGENERATIONTIME,	
		mo.ORDERBOOKINGTIME as ORDERBOOKINGTIME,	
		mo.ORDEREXECUTIONTIME as ORDEREXECUTIONTIME,	
		mo.ORDERTOTALAMOUNT as ORDERTOTALAMOUNT,	
		mo.STATUS as STATUS,	
		mo.ORDER_ID as ORDER_ID,
		sau.NAME AS NAME,
		sau.USER_ID as USER_ID,
		sau.AVATAR as AVATAR
		from 
		tb_medicalorder mo left join tb_order o on mo.ORDER_ID = 
		o.ORDER_ID left join sys_app_user sau on o.APP_USERID = sau.USER_ID
		where mo.MEDICALORDER_ID = #{MEDICALORDER_ID}
	</select>
	
	<!-- 根据用户id查询出该用户和关联用户的订单 -->
	<select id="findMedicalOrderExamitem" parameterType="java.lang.String" resultType="pd">
		select mei.`NAME` as `MNAME`,mei.SELLINGPRICE as SELLINGPRICE ,mc.`NAME` as CNAME 
		from tb_medicalexamitem mei LEFT JOIN tb_medicalorderitem moi on mei.MEDICALEXAMITEM_ID 
		= moi.MEDICALEXAMITEM_ID LEFT JOIN tb_medicalorder mo on mo.MEDICALORDER_ID = 
		moi.MEDICALORDER_ID LEFT JOIN tb_medicalcenter mc on mo.MEDICALCENTER_ID = 
		mc.MEDICALCENTER_ID where mo.MEDICALORDER_ID = #{MEDICALORDER_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		m.MEDICALORDER_ID as MEDICALORDER_ID,	
		m.MEDICALORDERNO as MEDICALORDERNO,	
		m.MEDICALORDERGENERATIONTIME as MEDICALORDERGENERATIONTIME,	
		m.MEDICALORDERBOOKINGTIME as MEDICALORDERBOOKINGTIME,	
		m.MEDICALORDEREXECUTIONTIME as MEDICALORDEREXECUTIONTIME,	
		m.MEDICALTOTALAMOUNT as MEDICALTOTALAMOUNT,	
		m.STATUS as STATUS,	
		m.CREATEBY as CREATEBY,	
		m.CREATEON as CREATEON,
		sau.`NAME` as `NAME`,
		sau.PHONE as PHONE
		from tb_medicalorder m LEFT JOIN tb_order o ON m.ORDER_ID = o.ORDER_ID 
		LEFT JOIN sys_app_user sau ON o.APP_USERID = sau.USER_ID 
		where 1=1
		<if test="pd.MEDICALCENTER_ID!= null and pd.MEDICALCENTER_ID != ''"><!-- 关键词检索 -->
		 and m.MEDICALCENTER_ID = #{pd.MEDICALCENTER_ID} 
		</if>
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				
					MEDICALORDERNO LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				<!--	根据需求自己加检索条件	 or 
					字段2 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				-->
				)
		</if>
	</select>
	
	<!-- 查询平台订单下的体检中心订单 -->
	<select id="listOrderByOrderId" parameterType="pd" resultType="pd">
		select 
		m.MEDICALORDER_ID as MEDICALORDER_ID,	
		m.MEDICALORDERNO as MEDICALORDERNO,	
		m.MEDICALORDERGENERATIONTIME as MEDICALORDERGENERATIONTIME,	
		m.MEDICALORDERBOOKINGTIME as MEDICALORDERBOOKINGTIME,	
		m.MEDICALORDEREXECUTIONTIME as MEDICALORDEREXECUTIONTIME,	
		m.MEDICALTOTALAMOUNT as MEDICALTOTALAMOUNT,	
		m.STATUS as STATUS
		from tb_medicalorder m where m.ORDER_ID = #{ORDER_ID} 
	</select>
	
	<!-- 列表 -->
	<select id="dataPartlistPage" parameterType="page" resultType="pd">
		select
		m.MEDICALORDER_ID as MEDICALORDER_ID,	
		m.MEDICALORDERNO as MEDICALORDERNO,	
		m.MEDICALORDERGENERATIONTIME as MEDICALORDERGENERATIONTIME,	
		m.MEDICALORDERBOOKINGTIME as MEDICALORDERBOOKINGTIME,	
		m.MEDICALORDEREXECUTIONTIME as MEDICALORDEREXECUTIONTIME,	
		m.MEDICALTOTALAMOUNT as MEDICALTOTALAMOUNT,	
		m.STATUS as STATUS,	
		m.CREATEBY as CREATEBY,	
		m.CREATEON as CREATEON,
		sau.`NAME` as `NAME`,
		sau.PHONE as PHONE
		from tb_medicalorder m LEFT JOIN tb_order o ON m.ORDER_ID = o.ORDER_ID 
		LEFT JOIN sys_app_user sau ON o.APP_USERID = sau.USER_ID 
		where 1=1
		<if test="pd.MEDICALCENTER_ID!= null and pd.MEDICALCENTER_ID != ''"><!-- 关键词检索 -->
		 and m.MEDICALCENTER_ID = #{pd.MEDICALCENTER_ID} 
		</if>
		<if test="pd.STATUS!= null and pd.STATUS != ''"><!-- 关键词检索 -->
		and m.STATUS = #{pd.STATUS} 
		</if>
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				MEDICALORDERNO LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				<!--	根据需求自己加检索条件	 or 
					字段2 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				-->
				)
		</if>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			MEDICALORDER_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- shouxin -->
</mapper>