<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MedicalOrderMapper">
	
	<!--表名 -->
	<sql id="tableName">
		TB_MEDICALORDER
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		MEDICALORDER_ID,	
		MEDICALORDERNO,	
		MEDICALORDERGENERATIONTIME,	
		MEDICALORDERBOOKINGTIME,	
		MEDICALORDEREXECUTIONTIME,	
		MEDICALTOTALAMOUNT,	
		STATUS,	
		CREATEBY,	
		CREATEON
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{MEDICALORDER_ID},	
		#{MEDICALORDERNO},	
		#{MEDICALORDERGENERATIONTIME},	
		#{MEDICALORDERBOOKINGTIME},	
		#{MEDICALORDEREXECUTIONTIME},	
		#{MEDICALTOTALAMOUNT},	
		#{STATUS},	
		#{CREATEBY},	
		#{CREATEON}
	</sql>
	
	<!-- 批量增加体检中心订单 -->
	<insert id="insertAll" parameterType="MedicalOrder">
		insert into 
		<include refid="tableName"></include> 
		(MEDICALORDER_ID,MEDICALORDERNO,MEDICALORDERGENERATIONTIME,MEDICALORDERBOOKINGTIME,MEDICALORDEREXECUTIONTIME,MEDICALCENTER_ID)
		values 
		<foreach item="item" index="index" collection="list" separator="," close=";">
                 (#{item.MEDICALORDER_ID},#{item.MEDICALORDERNO},#{item.MEDICALORDERGENERATIONTIME},#{item.MEDICALORDERBOOKINGTIME},#{item.MEDICALORDEREXECUTIONTIME},#{item.MEDICALCENTER_ID})
		</foreach>
	</insert>
	
		<!-- 批量增加体检中心订单下面的体检项目 -->
	<insert id="insertItemAll" parameterType="MedicalOrder">
		insert into 
		TB_MEDICALORDERITEM 
		(MEDICALORDERITEM_ID,MEDICALORDER_ID,MEDICALEXAMITEM_ID)
		values 
		<foreach item="item" index="index" collection="list" separator="," close=";">
                 (#{item.MEDICALORDERITEM_ID},#{item.MEDICALORDER_ID},#{item.MEDICALEXAMITEM_ID})
		</foreach>
	</insert>
	
	<select id="listMedicalOrderByOrderNo" parameterType="java.lang.String" resultType="MedicalOrder">
		select MEDICALORDER_ID,MEDICALORDERNO,MEDICALORDERGENERATIONTIME,MEDICALORDERBOOKINGTIME,
		MEDICALORDEREXECUTIONTIME,MEDICALCENTER_ID,STATUS  from tb_medicalorder where MEDICALORDERNO 
		= #{ORDERNO} and STATUS != '已确认'
	</select>
	
	<!-- 查询该平台订单下的所有体检中心订单 -->
	<select id="listAllMedicalOrderByOrderNo" parameterType="java.lang.String" resultType="MedicalOrder">
		select mo.MEDICALORDER_ID as MEDICALORDER_ID,mo.MEDICALORDERNO as MEDICALORDERNO,mo.MEDICALORDERGENERATIONTIME as MEDICALORDERGENERATIONTIME,MEDICALORDERBOOKINGTIME as MEDICALORDERBOOKINGTIME,
		mo.MEDICALORDEREXECUTIONTIME as MEDICALORDEREXECUTIONTIME,mo.MEDICALCENTER_ID as MEDICALCENTER_ID,mo.STATUS as STATUS,mc.NAME as NAME  from tb_medicalorder mo,tb_medicalcenter mc where mo.MEDICALCENTER_ID = mc.MEDICALCENTER_ID and MEDICALORDERNO 
		= #{ORDERNO}
	</select>
	
	<!-- 查询体检订单下的体检项目 -->
	<select id="listExamItemByMedicalOrderID" parameterType="java.lang.String" resultType="MedicalExamItem">
		select mei.NAME as NAME,mei.FEATURES AS FEATURES,mei.SELLINGPRICE as SELLINGPRICE,mei.SETTLEMENTPRICE as 
		SETTLEMENTPRICE from tb_medicalexamitem mei,tb_medicalorderitem moi where mei.MEDICALEXAMITEM_ID
		 = moi.MEDICALEXAMITEM_ID and moi.MEDICALORDER_ID=#{MEDICALORDER_ID}
	</select>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			MEDICALORDER_ID = #{MEDICALORDER_ID}
	</delete>
	
	<!-- 修改体检中心订单状态 -->
	<update id="auditing" parameterType="pd">
		update 
		<include refid="tableName"></include> 
		set STATUS = #{STATUS} where MEDICALORDER_ID = #{MEDICALORDER_ID}
	</update>
	
	<!-- 修改体检中心订单状态 -->
	<update id="auditingALL" parameterType="pd">
		update 
		<include refid="tableName"></include> 
		set STATUS = #{STATUS} where MEDICALORDERNO = #{ORDERNO}
	</update>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			MEDICALORDER_ID = #{MEDICALORDER_ID},
			MEDICALORDERNO = #{MEDICALORDERNO},
			MEDICALORDERGENERATIONTIME = #{MEDICALORDERGENERATIONTIME},
			<if test="MEDICALORDERBOOKINGTIME!= null and MEDICALORDERBOOKINGTIME != ''"><!-- 关键词检索 -->
			MEDICALORDERBOOKINGTIME = #{MEDICALORDERBOOKINGTIME},
			</if>
			<if test="MEDICALORDEREXECUTIONTIME != null and MEDICALORDEREXECUTIONTIME != ''"><!-- 关键词检索 -->
			MEDICALORDEREXECUTIONTIME = #{MEDICALORDEREXECUTIONTIME},
			</if>
			MEDICALTOTALAMOUNT = #{MEDICALTOTALAMOUNT},
			STATUS = #{STATUS},
		MEDICALORDER_ID = MEDICALORDER_ID
		where 
		MEDICALORDER_ID = #{MEDICALORDER_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select
		m.MEDICALORDER_ID as MEDICALORDER_ID,	
		m.MEDICALORDERNO as MEDICALORDERNO,	
		m.MEDICALORDERGENERATIONTIME as MEDICALORDERGENERATIONTIME,	
		m.MEDICALORDERBOOKINGTIME as MEDICALORDERBOOKINGTIME,	
		m.MEDICALORDEREXECUTIONTIME as MEDICALORDEREXECUTIONTIME,	
		m.MEDICALTOTALAMOUNT as MEDICALTOTALAMOUNT,	
		m.STATUS as STATUS,	
		m.CREATEBY as CREATEBY,	
		m.CREATEON as CREATEON,
		sau.`NAME` as `NAME`,
		sau.PHONE as PHONE
		from tb_medicalorder m LEFT JOIN tb_order o ON m.ORDER_ID = o.ORDER_ID 
		LEFT JOIN sys_app_user sau ON o.APP_USERID = sau.USER_ID 
		where 
			MEDICALORDER_ID = #{MEDICALORDER_ID}
	</select>
	
	<!-- 通过订单ID，查询所有体检项目信息 -->
	<select id="findItemsById" parameterType="pd" resultType="pd">
		SELECT 
		  mei.*
		FROM
		  TB_MEDICALORDERITEM moi 
		  LEFT JOIN TB_MEDICALEXAMITEM mei 
		    ON moi.`MEDICALEXAMITEM_ID` = mei.`MEDICALEXAMITEM_ID` 
		WHERE moi.`MEDICALORDER_ID` = #{MEDICALORDER_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		m.MEDICALORDER_ID as MEDICALORDER_ID,	
		m.MEDICALORDERNO as MEDICALORDERNO,	
		m.MEDICALORDERGENERATIONTIME as MEDICALORDERGENERATIONTIME,	
		m.MEDICALORDERBOOKINGTIME as MEDICALORDERBOOKINGTIME,	
		m.MEDICALORDEREXECUTIONTIME as MEDICALORDEREXECUTIONTIME,	
		m.MEDICALTOTALAMOUNT as MEDICALTOTALAMOUNT,	
		m.STATUS as STATUS,	
		m.CREATEBY as CREATEBY,	
		m.CREATEON as CREATEON,
		sau.`NAME` as `NAME`,
		sau.PHONE as PHONE
		from tb_medicalorder m LEFT JOIN tb_order o ON m.ORDER_ID = o.ORDER_ID 
		LEFT JOIN sys_app_user sau ON o.APP_USERID = sau.USER_ID 
		where 1=1
		<if test="pd.MEDICALCENTER_ID!= null and pd.MEDICALCENTER_ID != ''"><!-- 关键词检索 -->
		 and m.MEDICALCENTER_ID = #{pd.MEDICALCENTER_ID} 
		</if>
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				<!--	根据需求自己加检索条件
					字段1 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or 
					字段2 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				-->
				)
		</if>
	</select>
	
	<!-- 列表 -->
	<select id="dataPartlistPage" parameterType="page" resultType="pd">
		select
		m.MEDICALORDER_ID as MEDICALORDER_ID,	
		m.MEDICALORDERNO as MEDICALORDERNO,	
		m.MEDICALORDERGENERATIONTIME as MEDICALORDERGENERATIONTIME,	
		m.MEDICALORDERBOOKINGTIME as MEDICALORDERBOOKINGTIME,	
		m.MEDICALORDEREXECUTIONTIME as MEDICALORDEREXECUTIONTIME,	
		m.MEDICALTOTALAMOUNT as MEDICALTOTALAMOUNT,	
		m.STATUS as STATUS,	
		m.CREATEBY as CREATEBY,	
		m.CREATEON as CREATEON,
		sau.`NAME` as `NAME`,
		sau.PHONE as PHONE
		from tb_medicalorder m LEFT JOIN tb_order o ON m.ORDER_ID = o.ORDER_ID 
		LEFT JOIN sys_app_user sau ON o.APP_USERID = sau.USER_ID 
		where 1=1
		<if test="pd.MEDICALCENTER_ID!= null and pd.MEDICALCENTER_ID != ''"><!-- 关键词检索 -->
		 and m.MEDICALCENTER_ID = #{pd.MEDICALCENTER_ID} 
		</if>
		<if test="pd.STATUS!= null and pd.STATUS != ''"><!-- 关键词检索 -->
		and m.STATUS = #{pd.STATUS} 
		</if>
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				<!--	根据需求自己加检索条件
					字段1 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					 or 
					字段2 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				-->
				)
		</if>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			MEDICALORDER_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- shouxin -->
</mapper>