<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MedicalCenterMapper">
	
	<!--表名 -->
	<sql id="tableName">
		TB_MEDICALCENTER
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		NAME,	
		DESCRIPTION,	
		LOCATION,	
		ABBREVIATION,	
		TELEPHONE,	
		STATUS,	
		LOGO,	
		OPENINGTIME,	
		CREATEBY,	
		CREATEON,	
		ACCESSORY,	
		POSITION,	
		PARENTID,	
		MEDICALCENTER_ID,
		CITY,
		PROVINCE
	</sql>
	
	<!-- 字段 -->
	<sql id="Field1">
		NAME,	
		DESCRIPTION,	
		LOCATION,	
		ABBREVIATION,	
		TELEPHONE,	
		LOGO,	
		OPENINGTIME,	
		CREATEBY,	
		CREATEON,	
		ACCESSORY,	
		POSITION,	
		PARENTID,	
		MEDICALCENTER_ID,
		CITY,
		PROVINCE
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{NAME},	
		#{DESCRIPTION},	
		#{LOCATION},	
		#{ABBREVIATION},	
		#{TELEPHONE},	
		#{STATUS},	
		#{LOGO},	
		#{OPENINGTIME},	
		#{CREATEBY},	
		#{CREATEON},	
		#{ACCESSORY},	
		#{POSITION},	
		#{PARENTID},	
		#{MEDICALCENTER_ID},
		#{CITY},
		#{PROVINCE}
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue1">
		#{NAME},	
		#{DESCRIPTION},	
		#{LOCATION},	
		#{ABBREVIATION},	
		#{TELEPHONE},	
		#{LOGO},	
		#{OPENINGTIME},	
		#{CREATEBY},	
		#{CREATEON},	
		#{ACCESSORY},	
		#{POSITION},	
		#{PARENTID},	
		#{MEDICALCENTER_ID},
		#{CITY},
		#{PROVINCE}
	</sql>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field1"></include>
		) values (
	<include refid="FieldValue1"></include>		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			MEDICALCENTER_ID = #{MEDICALCENTER_ID}
	</delete>
	
	<insert id="saveCenterAdmin" parameterType="pd">
		insert into tb_medicalceneradmin(MEDICALCENERADMIN_ID,
		SYS_USER_ID,MEDICALCENTER_ID) values(#{MEDICALCENERADMIN_ID},#{SYS_USER_ID},#{MEDICALCENTER_ID})
	</insert>
	
	<update id="editCenterAdmin" parameterType="pd">
		update tb_medicalceneradmin set MEDICALCENTER_ID = #{MEDICALCENTER_ID} where MEDICALCENERADMIN_ID = #{MEDICALCENERADMIN_ID}
	</update>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			NAME = #{NAME},
			DESCRIPTION = #{DESCRIPTION},
			LOCATION = #{LOCATION},
			ABBREVIATION = #{ABBREVIATION},
			TELEPHONE = #{TELEPHONE},
			LOGO = #{LOGO},
			OPENINGTIME = #{OPENINGTIME},
			ACCESSORY = #{ACCESSORY},
			POSITION = #{POSITION},
		MEDICALCENTER_ID = MEDICALCENTER_ID
		where 
		MEDICALCENTER_ID = #{MEDICALCENTER_ID}
	</update>
	
	<!-- 修改体检中心状态信息 -->
	<update id="auditing" parameterType="pd">
		update
		<include refid="tableName"></include> 
		set STATUS = #{STATUS} where MEDICALCENTER_ID = #{MEDICALCENTER_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 
			MEDICALCENTER_ID = #{MEDICALCENTER_ID}
	</select>
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1 
		<!-- <if test="pd.MEDICALCENTER_ID != null and pd.MEDICALCENTER_ID != ''">关键词检索
			
			 and (MEDICALCENTER_ID = #{pd.MEDICALCENTER_ID} OR PARENTID = #{pd.MEDICALCENTER_ID})
		</if> -->
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				
					NAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					<!--	根据需求自己加检索条件 or 
					字段2 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				-->
				)
		</if>
	</select>
	
	<select id="dataParentIDlistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1 
		<if test="pd.MEDICALCENTER_ID!= null and pd.MEDICALCENTER_ID != ''"><!-- 关键词检索 -->
			and
				(
				PARENTID = #{pd.MEDICALCENTER_ID}
				)
		</if>
		<!-- and (MEDICALCENTER_ID = #{pd.MEDICALCENTER_ID} OR PARENTID = #{pd.MEDICALCENTER_ID})  -->
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				
					NAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					<!--	根据需求自己加检索条件 or 
					字段2 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				-->
				)
		</if>
	</select>
	
	<!-- 体检中心审核发布列表 --> 
	<select id="datarellistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1 
		<if test="pd.MEDICALCENTER_ID!= null and pd.MEDICALCENTER_ID != ''"><!-- 关键词检索 -->
			 and (MEDICALCENTER_ID = #{pd.MEDICALCENTER_ID} OR PARENTID = #{pd.MEDICALCENTER_ID})
		</if>
		and (STATUS ='已提交' or STATUS ='审核' or STATUS = '平台审核失败')
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				NAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					<!--	根据需求自己加检索条件 or 
					字段2 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				-->
				)
		</if>
	</select>
	
	<!-- 平台审核发布列表 --> 
	<select id="dataPingTairellistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1 
		and (STATUS ='发布' or STATUS ='平台审核' or STATUS ='平台发布' or STATUS ='平台失效')
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				NAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					<!--	根据需求自己加检索条件 or 
					字段2 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				-->
				)
		</if>
	</select>
	
	
	<!-- 列表 --> 
	<select id="datarelParentIDlistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1 
		<if test="pd.MEDICALCENTER_ID!= null and pd.MEDICALCENTER_ID != ''"><!-- 关键词检索 -->
			and
				(
				PARENTID = #{pd.MEDICALCENTER_ID}
				)
		</if>
		and STATUS !='新建' and STATUS!='审核失败'
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				
					NAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
					<!--	根据需求自己加检索条件 or 
					字段2 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				-->
				)
		</if>
	</select>
	
	<!-- 列表 -->
	<select id="datarel2listPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1 
		<if test="pd.MEDICALCENTER_ID!= null and pd.MEDICALCENTER_ID != ''"><!-- 关键词检索 -->
			and
				(
				MEDICALCENTER_ID = #{pd.MEDICALCENTER_ID} OR PARENTID = #{pd.MEDICALCENTER_ID}
				)
		</if>
		 
		and STATUS =='提交' and STATUS =='审核失败'
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				NAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				<!--	根据需求自己加检索条件	 or 
					字段2 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				-->
				)
		</if>
	</select>
	
	<!-- 列表 -->
	<select id="dataReleaselistPage" parameterType="page" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1 
		<if test="pd.MEDICALCENTER_ID!= null and pd.MEDICALCENTER_ID != ''"><!-- 关键词检索 -->
			and
				(
				MEDICALCENTER_ID = #{pd.MEDICALCENTER_ID} OR PARENTID = #{pd.MEDICALCENTER_ID}
				)
		</if>
		and STATUS =='审核' and STATUS =='发布' and STATUS =='失效'
		<if test="pd.keywords!= null and pd.keywords != ''"><!-- 关键词检索 -->
			and
				(
				NAME LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				<!--	根据需求自己加检索条件	 or 
					字段2 LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%') 
				-->
				)
		</if>
	</select>
	
	<!-- 列表 -->
	<select id="listParentIDPage" parameterType="java.lang.String" resultType="MedicalCenter">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		where 1=1 and (MEDICALCENTER_ID = #{MEDICALCENTER_ID}) 
	</select>
	
	<!-- 列表 -->
	<select id="listCenterByUserid" parameterType="java.lang.String" resultType="pd">
		select mc.NAME as NAME ,mc.MEDICALCENTER_ID as MEDICALCENTER_ID
		 from tb_medicalcenter mc where mc.MEDICALCENTER_ID = 
		(select mca.MEDICALCENTER_ID from tb_medicalceneradmin mca where 
		mca.SYS_USER_ID = #{USER_ID}) or mc.PARENTID 
		= (select mca.MEDICALCENTER_ID from tb_medicalceneradmin mca where 
		mca.SYS_USER_ID = #{USER_ID})
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			MEDICALCENTER_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- shouxin -->
</mapper>