<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CheckupItemMapper">
	
	<resultMap type="CheckupItem" id="resultItems">
	    <id column="CHECKUPITEM_ID" property="CHECKUPITEM_ID"/>
	    <result column="SUBGROUP" property="SUBGROUP"/>
	    <result column="NAME" property="NAME"/>
	    <result column="FEATURES" property="FEATURES"/>
	    <result column="FREQUENCY" property="FREQUENCY"/>
	    <result column="STATUS" property="STATUS"/>
	    <result column="ORIGINATE" property="ORIGINATE"/>
	    <result column="DESCRIPTION" property="DESCRIPTION"/>
	    <result column="GENERATEDTIME" property="GENERATEDTIME"/>
	    <result column="WORKER" property="WORKER"/>
	    
	    <association property="checkupPackage" javaType="CheckupPackage">
			<id column="CHECKUPPACKAGE_ID" property="CHECKUPPACKAGE_ID"/>
		    <result column="WORKER" property="WORKER"/>
		    <result column="GENERATEDTIME" property="GENERATEDTIME"/>
		    <result column="EFFECTIVEFROM" property="EFFECTIVEFROM"/>
		    <result column="EXPIREON" property="EXPIREON"/>
		    <result column="STATUS" property="STATUS"/>
	    </association>
	</resultMap>
	
	<resultMap type="CheckupItem" id="resultItemsForUsers">
		<id column="CHECKUPITEM_ID" property="CHECKUPITEM_ID"/>
	    <result column="SUBGROUP" property="SUBGROUP"/>
	    <result column="NAME" property="NAME"/>
	    <result column="FEATURES" property="FEATURES"/>
	    <result column="FREQUENCY" property="FREQUENCY"/>
	    <result column="STATUS" property="STATUS"/>
	    <result column="ORIGINATE" property="ORIGINATE"/>
	    <result column="DESCRIPTION" property="DESCRIPTION"/>
	    <result column="GENERATEDTIME" property="GENERATEDTIME"/>
	    <result column="WORKER" property="WORKER"/>
	    <result column="REVISION" property="REVISION"/>
	    <result column="SYSFLAG" property="SYSFLAG"/>
	    
	    
		<association property="users" javaType="User">
			<id column="USERS_ID" property="USERS_ID"/>
		    <result column="USERNAME" property="USERNAME"/>
		    <result column="SEX" property="SEX"/>
	    </association>
	</resultMap>
	
	<!--表名 -->
	<sql id="tableName">
		TB_CHECKUPITEM
	</sql>
	
	<!-- 字段 -->
	<sql id="Field">
		CHECKUPITEM_ID,
		SUBGROUP,
		NAME,
		FEATURES,
		FREQUENCY,
		STATUS,
		ORIGINATE,
		DESCRIPTION,
		GENERATEDTIME,
		WORKER,
		REVISION,
		SYSFLAG,
		CHECKUPPACKAGE_ID,
		USER_ID,
		CREATEBY,
		CREATEON,
		concernedfactors,
		disease_name,
		riskType,
		solution_id,
		riskDefine,
		startage,
		endage
	</sql>
	
	
	<!-- 字段 -->
	<sql id="SummaryFields">
		CHECKUPITEM_ID,
		SUBGROUP,
		NAME,
		FEATURES,
		FREQUENCY,
		disease_name,		
		STATUS
	</sql>	
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{CHECKUPITEM_ID},
		#{SUBGROUP},
		#{NAME},
		#{FEATURES},
		#{FREQUENCY},
		#{STATUS},
		#{ORIGINATE},
		#{DESCRIPTION},
		#{GENERATEDTIME},
		#{WORKER},
		#{REVISION},
		#{SYSFLAG},
		#{CHECKUPPACKAGE_ID},
		#{USER_ID},
		#{CREATEBY},
		#{CREATEON},
		#{concernedfactors},
		#{disease_name},
		#{riskType},
		#{solution_id},
		#{riskDefine},
		#{startage},
		#{endage}
	</sql>
	
	<!-- 根据userID获取体检项目 -->
	<select id="findAllByUserId" parameterType="int" resultMap="resultItemsForUsers">
		SELECT 
		  * 
		FROM
		  tb_checkupitem ci 
		  LEFT JOIN sys_user u 
		    ON ci.`USER_ID` = u.`USER_ID` 
		    WHERE ci.`USER_ID` = #{u.USER_ID}
	</select>
	
	<!-- 通过checkupPackageId获取数据 -->
	<select id="findAllByIdlistPage" parameterType="int" resultMap="resultItemsForUsers">
		SELECT * FROM tb_checkupitem c WHERE c.`CHECKUPPACKAGE_ID` = #{cp.CHECKUPPACKAGE_ID}
	</select>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into 
	<include refid="tableName"></include>
		(
	<include refid="Field"></include>
		) values (
	<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from
		<include refid="tableName"></include>
		where 
			CHECKUPITEM_ID = #{CHECKUPITEM_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update
		<include refid="tableName"></include>
		set 
			SUBGROUP = #{SUBGROUP},
			NAME = #{NAME},
			FEATURES = #{FEATURES},
			FREQUENCY = #{FREQUENCY},
			STATUS = #{STATUS},
			ORIGINATE = #{ORIGINATE},
			DESCRIPTION = #{DESCRIPTION},
			GENERATEDTIME = #{GENERATEDTIME},
			WORKER = #{WORKER},
			REVISION = #{REVISION},
			SYSFLAG = #{SYSFLAG},
			CREATEBY = #{CREATEBY},
			CREATEON = #{CREATEON},
			concernedfactors = #{concernedfactors},
			disease_name = #{disease_name},
			riskType = #{riskType},
			solution_id = #{solution_id},
			riskDefine = #{riskDefine},
			startage = #{startage},
			endage = #{endage},
		CHECKUPITEM_ID = CHECKUPITEM_ID
		<where>
			<if test="CHECKUPITEM_ID != null and CHECKUPITEM_ID != ''">
				and CHECKUPITEM_ID = #{CHECKUPITEM_ID}
			</if>
			<if test="USER_ID != null and USER_ID != ''">
				and USER_ID = #{USER_ID}
			</if>
		</where>
	</update>
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		<where>
			<if test="CHECKUPITEM_ID != null and CHECKUPITEM_ID != ''">
				and CHECKUPITEM_ID = #{CHECKUPITEM_ID}
			</if>
			<if test="USER_ID != null and USER_ID != ''">
				and USER_ID = #{USER_ID}
			</if>
			<if test="CHECKUPPACKAGE_ID != null and CHECKUPPACKAGE_ID != ''">
				and CHECKUPPACKAGE_ID = #{CHECKUPPACKAGE_ID}
			</if>
		</where>
	</select>
	
	<!-- 分组查询 所有体检项目分组 -->
	<select id="findCIByGroup"  parameterType="pd" resultType="pd">
		SELECT 
		  * 
		FROM
		  tb_checkupitem ci 
		WHERE ci.`USER_ID` = #{USER_ID}
		GROUP BY ci.`SUBGROUP`
	</select>
	
	<!-- 分组查询 所有体检项目分组 -->
	<select id="findByGroup"  parameterType="pd" resultType="pd">
		SELECT 
		  * 
		FROM
		  tb_checkupitem ci 
		WHERE ci.`SUBGROUP` = #{SUBGROUP}
	</select>
	
	<!-- 根据ID  修改状态信息为  已删除 -->
	<update id="editAllStatus" parameterType="pd">
		UPDATE tb_checkupitem ci SET ci.`STATUS` = '已删除' WHERE ci.`CHECKUPITEM_ID` = #{CHECKUPITEM_ID}
	</update>
	
	<!-- 根据ID  修改状态信息为  已删除 -->
	<update id="editStatus" parameterType="pd">
		UPDATE tb_checkupitem ci SET ci.`STATUS` = '已选中' WHERE ci.`CHECKUPITEM_ID` = #{CHECKUPITEM_ID}
	</update>
	
		<!-- 根据ID  修改状态信息为  已删除 -->
	<update id="removeStatus" parameterType="pd">
		UPDATE tb_checkupitem ci SET ci.`STATUS` = '已删除' WHERE ci.`SUBGROUP` = #{SUBGROUP}
	</update>
	
	<!-- 分组查询 所有体检项目分组 -->
	<select id="findCIByIdOrSubGroup"  parameterType="pd" resultType="pd">
		SELECT 
		  *
		FROM
		  tb_checkupitem ci
		<where>
			<if test="USER_ID != null and USER_ID != ''">
				and ci.`USER_ID` = #{USER_ID}
			</if>
		</where>
	</select>
	
	<!-- 根据用户电话号码查询所有体检项目分组 -->
	<select id="findCIByPhone"  parameterType="pd" resultType="pd">
		SELECT 
			ci.SUBGROUP as SUBGROUP,
			ci.NAME as NAME,
			ci.FEATURES as FEATURES,
			ci.FREQUENCY as FREQUENCY,
			ci.DESCRIPTION as DESCRIPTION,
		FROM
		  tb_checkupitem ci,sys_app_user su 
		<where>
			and ci.USER_ID = su.USER_ID and su.APPKEY=#{APPKEY} 
			<if test="PHONE != null and PHONE != ''">
				and su.PHONE = #{PHONE}
			</if>
		</where>
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		SELECT * FROM tb_checkupitem ci WHERE ci.`CHECKUPPACKAGE_ID` = #{CHECKUPPACKAGE_ID}
	</select>
	
	<select id="findlistPage" parameterType="page" resultType="pd">
		SELECT * FROM tb_checkupitem ci WHERE ci.`CHECKUPPACKAGE_ID` = #{CHECKUPPACKAGE_ID}
	</select>

	<!-- query summary fields by UserId -->
	<select id="listCheckupItemSummary" parameterType="pd" resultType="pd">
		select
		<include refid="SummaryFields"></include>
		from 
		<include refid="tableName"></include>
		<where>
			<if test="CHECKUPITEM_ID != null and CHECKUPITEM_ID != ''">
				and CHECKUPITEM_ID = #{CHECKUPITEM_ID}
			</if>
			<if test="USER_ID != null and USER_ID != ''">
				and USER_ID = #{USER_ID}
			</if>
			<if test="CHECKUPPACKAGE_ID != null and CHECKUPPACKAGE_ID != ''">
				and CHECKUPPACKAGE_ID = #{CHECKUPPACKAGE_ID}
			</if>
		</where>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
		<include refid="Field"></include>
		from 
		<include refid="tableName"></include>
		<where>
			<if test="CHECKUPITEM_ID != null and CHECKUPITEM_ID != ''">
				and CHECKUPITEM_ID = #{CHECKUPITEM_ID}
			</if>
			<if test="USER_ID != null and USER_ID != ''">
				and USER_ID = #{USER_ID}
			</if>
			<if test="CHECKUPPACKAGE_ID != null and CHECKUPPACKAGE_ID != ''">
				and CHECKUPPACKAGE_ID = #{CHECKUPPACKAGE_ID}
			</if>
		</where>
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from
		<include refid="tableName"></include>
		where 
			CHECKUPITEM_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- shouxin -->
</mapper>